# Unity generated #
# =============== #
giapnh/Library/
giapnh/Temp/
giapnh/Assets/NGUI/Examples/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj