# Unity generated #
# =============== #
trunk/giapnh/Temp/
trunk/giapnh/Obj/
trunk/giapnh/UnityGenerated/
trunk/giapnh/Library/
trunk/giapnh/Library/
giapnh/Library/
giapnh/Assets/NGUI/Examples/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
