# Unity generated #
# =============== #
trunk/giapnh/Temp/
trunk/giapnh/Obj/
trunk/giapnh/UnityGenerated/
trunk/giapnh/Library/
trunk/giapnh/Library/
giapnh/Library/
giapnh/Temp/
giapnh/Assets/NGUI/Examples/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
/giapnh/Test
/giapnh/ProjectSettings
/giapnh/Library
/giapnh/Assembly-CSharp.csproj
/giapnh/Assembly-CSharp.pidb
/giapnh/Assembly-CSharp-Editor.csproj
/giapnh/Assembly-CSharp-Editor.pidb
/giapnh/Assembly-CSharp-Editor-vs.csproj
/giapnh/Assembly-CSharp-firstpass.csproj
/giapnh/Assembly-CSharp-firstpass.pidb
/giapnh/Assembly-CSharp-firstpass-vs.csproj
/giapnh/Assembly-CSharp-vs.csproj
/giapnh/Assembly-UnityScript.pidb
/giapnh/Assembly-UnityScript.unityproj
/giapnh/Assembly-UnityScript-firstpass.pidb
/giapnh/Assembly-UnityScript-firstpass.unityproj
/giapnh/Assembly-UnityScript-firstpass-vs.unityproj
/giapnh/Assembly-UnityScript-vs.unityproj
/giapnh/GoldMiner.sln
/giapnh/GoldMiner.userprefs
/giapnh/GoldMiner-csharp.sln
